
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container" style="margin-top: 20px;">
    <div class="card">
        <div class="card-header">
            <div style="display: flex;">
                <div class="col-md-6">
                    <h3 class="card-title">
                        Patient List
                    </h3><br />
                    <span class="text-sm text-muted">TOTAL: <span class="total_number"></span></span>
                </div>
                <div class="col-md-6">
                    <div class="fa-pull-right form-inline ml-3">
                        <!-- INPUT -->
                        <input class="form-control form-control-sm"
                               name="search"
                               id="searchDetail"
                               placeholder="Lastname"
                               type="text"
                               value="@ViewBag.SearchFilter" />

                        <button id="searchPatientBtn" type="button" class="btn btn-sm btn-success">

                            <i class="fa fa-search"></i>

                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" id="list_patient" style="margin-bottom: 50px !important;">
            <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <br />
            <br />

        </div>
        <div id="home-patients" style="margin: auto; margin-bottom: 20px;"></div>
    </div>
</div>


<script>
    var vessel = $('#home-patients');
    var last = '';
    $(function () {
        var q = [];
        q.push('');
        q.push('');
        LoadPatients(q, vessel, 'Home', 'PatientsJson');

        $('#searchPatientBtn').on('click', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var s = [];
            s.push($('#searchDetail').val());
            s.push('');
            LoadPatients(s, vessel, 'Home', 'PatientsJson');
        });
    })
    function Sort(filter) {
        if (last == filter) {
            last = last + '_desc';
        }
        else {
            last = filter;
        }
        var f = [];
        f.push($('#searchDetail').val());
        f.push(last);
        LoadPatients(f, vessel, 'Home', 'PatientsJson');
    }
</script>